.page {
  background: rgb(245, 245, 245);
  margin: 20px 24px;

  .welcome-piece {
    height: 190px;
    background-image: url("src/assets/images/WelcomMe.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;

    .welcome-float {
      display: flex;
      padding: 50px;

      .welcome-title-font {
        color: rgb(255, 255, 255);
        font-family: HarmonyOS Sans;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0;
        text-align: left;
      }

      .welcome-font {
        width: 300px;
        height: 80px;

        overflow: hidden;
        text-overflow: ellipsis;

        opacity: 0.8;
        color: rgb(255, 255, 255);
        font-family: HarmonyOS Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
        text-align: left;
      }
    }
  }


  // 今日指标样式
  .quota {
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;

    .quota-box {
      margin-left: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;


      .quota-item {
        width: 200px;
        height: 93px;
        display: flex;
        flex-direction: column;

        .quota-font {
          color: rgb(94, 94, 94);
          font-family: HarmonyOS Sans;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: -1px;
          text-align: left;
        }

        .quota-point {
          color: rgb(56, 56, 56);
          font-family: SFUIText;
          font-size: 30px;
          font-weight: 800;
          line-height: 38px;
          letter-spacing: -1px;
          text-align: left;
        }

        .quota-action-point {
          color: rgba(0, 0, 0, 0.45);
          font-family: HarmonyOS Sans;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -1px;
          text-align: left;

          .quota-action-data {
            color: rgb(255, 73, 87);
            font-family: HarmonyOS Sans;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -1px;
            text-align: left;
          }

        }

      }

      .quota-item:last-child {
        border-right-color: white;
      }

    }
  }


  // 统计样式
  .summary-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 20px;

    .summary-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 150px;

      .summary-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        .summary-font-point {
          opacity: 0.85;
          color: rgb(0, 0, 0);
          font-family: HarmonyOS Sans;
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: -1px;
          text-align: left;
        }

        .summary-font-min {
          opacity: 0.45;
          color: rgb(0, 0, 0);
          font-family: HarmonyOS Sans;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -1px;
          text-align: left;
        }
      }

    }

    .summary-font {
      margin-top: 7px;
      color: rgb(94, 94, 94);
      font-family: HarmonyOS Sans;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -1px;
      text-align: left;
    }

    .summary-line {

      width: 5px;
      height: 100px;
      border-right: 2px solid rgba(0, 0, 0, 0.85);
    }


  }


  .trend-box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //align-items: center;

    .trend-item1 {
      width: 369px;
      height: 324px;

      .trend-contain {
        margin-left: 30px;
        margin-top: 50px;
      }
    }

    .trend-item2 {
      width: 320px;
      height: 324px;
    }

    .trend-item3 {
      width: 424px;
      height: 323px;
    }

  }
}


.title-font-min{
  color: rgb(94, 94, 94);
  font-family: HarmonyOS Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -1px;
  text-align: left;

}

.title-font-point{
  color: rgba(0, 0, 0, 0.85);
  font-family: HarmonyOS Sans;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -1px;
  text-align: left
}

.title-font-some{

  color: rgb(94, 94, 94);
  font-family: HarmonyOS Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -1px;
  text-align: left;
}

.title-font-some-red{
  color: rgb(255, 73, 87);
  font-family: HarmonyOS Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -1px;
  text-align: left;
}

.title-font-some-green{
  color: rgb(71, 201, 58);
  font-family: HarmonyOS Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -1px;
  text-align: left;
}
